:root {
  --font-base: clamp(1rem, 1.5vw, 1.5rem); /* Min: 1rem, Max: 1.5rem */
  --font-large: clamp(1.5rem, 2.5vw, 2rem); /* Min: 1.5rem, Max: 2rem */
  --font-small: clamp(0.875rem, 1vw, 1rem);
  --primary-color: #FFA500;
  --secondary-color: #F5E0C3;
  --accent-color: #333333;
  --primary-color-contrast: #CC5500;
  --secondary-color-contrast: #FFFFFF;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", serif;
}

body {
  margin: 0;
  font-size: var(--font-base);
  color: var(--accent-color);
  background-color: var(--primary-color);
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
}

#navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  padding: 0rem 2rem;
}

#navbar>ul {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-size: 1.5rem;
  font-size: var(--font-large);
  text-align: center;
}

main {
  text-align: center;
}

#welcome-section {
  background-color: var(--accent-color);
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 100px
}

#welcome-section>h1 {
  font-size: 5rem;
  color: var(--primary-color);
}

#welcome-section>h1>span {
  display: block;
}


#projects {
  background-color: var(--secondary-color);
  scroll-margin-top: 100px;
}

#projects > h2 {
  margin-top: 0rem;
  padding-top: 2rem;
}

#projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem 4rem;
}

.individual-project-container {
  border: 0.8rem var(--primary-color) solid;
  border-radius: 1rem;
  
}

.project-title {
  max-width: 600px;
  max-height: 300px;
  overflow: hidden;
}

.project-title img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.magic-text {
  background-color: var(--primary-color);
  padding: 1rem;
}


#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-link {
  transition: transform 0.3s ease; 
}

.contact-link:hover {
  transform: scale(1.2); 
  transition: transform 1s ease; 
}

#footer {
  background-color: var(--primary-color);
}

.copyright-Notice {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  font-size: var(--font-large);
  font-weight: bold;
}

.copyright-Notice > p {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}

/* styles */

a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

a:hover {
  color: var(--secondary-color-contrast);
  transition: color 0.8s ease; 
}

a:active {
  color: var(--accent-color);
  transition: color 0.1s ease; 
}

/* media query */

@media (max-width: 625px) {
  
  #navbar {
    justify-content: space-evenly;
    padding: 0px;
    width: 100vw;
  }

  #navbar > ul {
    padding: 0px;
    padding: 0rem 1rem;
    align-items: center;
  }

  .project-title > img {
    object-fit: cover;
  }

}

